# Configuration for the ML project run

## Define model:
models: 
  - lightgbm_main
  - xgboost
  #- catboost
  
  #- lightgbm_deep_expressive
  #- lightgbm_strong_reg
  #- lightgbm_boost
  #- lightgbm_more_subs
  #- neural_net
  #- logistic_regression
  #- real_mlp

## Define ensemble
ensemble:
  method: mean          # options: mean, stacking_regression
  meta_model: logistic                    # options: ridge, logistic
  meta_alpha: 1.0                      # ridge regularization strength
  use_oof: true                        # train meta-model on out-of-fold preds
  clip_proba: 1e-3                    # for numerical stability (if using logit)

## Define number of CV splits (2 for neural net / 5 for logistic regression)
cv_splits: 2

## Define full model storage
store_regression:   false
fit_model:          true
store_model:        true
storage_name:       boost_ensemble_2026-02-28_02

## Define features (0 = exclude / 1 = include)
features:
  id:                 0
  age:                1
  sex:                1
  chest_pain:         1
  blood_pressure:     1
  cholesterol:        1
  rest_blood_sugar:   1
  ekg:                1
  max_hr:             1
  exercise_angina:    1
  st_depression:      1
  slope_st:           1
  number_vessels:     1
  thallium:           1
  pred_max_hr:        1
  hr_ratio:           1
  hr_deficit:         1
  st_per_hr:          1
  st_x_hr_ratio:      1
  high_bp:            1
  chol_high:          1
  fbs_high:           1
  risk_count:         1

## Define winsorization (0 = exclude / 1 = include)
winsor_features:
  blood_pressure:     0
  cholesterol:        0
  max_hr:             0
  st_depression:      1

## Define Yeo-Johnson transformation (0 = exclude / 1 = include)
yeojohnson:
  blood_pressure:     0
  cholesterol:        0
  slope_st:           1

## Define standardization
standardize: true

## Define interactions (0 = exclude / 1 = include)
age_x_sex:                          1
age_x_chest_pain:                   1
age_x_exercise_angina:              1
age_x_slope_st:                     1
age_x_number_vessels:               1
age_x_thallium:                     1
sex_x_chest_pain:                   1
sex_x_ekg:                          1
sex_x_max_hr:                       1
sex_x_exercise_angina:              1
sex_x_st_depression:                1
sex_x_slope_st:                     1
sex_x_number_vessels:               0
sex_x_thallium:                     1
chest_pain_x_cholesterol:           0
chest_pain_x_rest_blood_sugar:      0
chest_pain_x_ekg:                   0
chest_pain_x_max_hr:                1
chest_pain_x_exercise_angina:       0
chest_pain_x_st_depression:         0
chest_pain_x_slope_st:              0
chest_pain_x_number_vessels:        0
chest_pain_x_thallium:              1 
rest_blood_sugar_x_st_depression:   0
rest_blood_sugar_x_slope_st:        0
rest_blood_sugar_x_number_vessels:  0
rest_blood_sugar_x_thallium:        0
ekg_x_max_hr:                       0
ekg_x_exercise_angina:              0
ekg_x_st_depression:                0
ekg_x_slope_st:                     0
ekg_x_number_vessels:               0
ekg_x_thallium:                     0
max_hr_x_exercise_angina:           1
max_hr_x_st_depression:             0
max_hr_x_slope_st:                  0
max_hr_x_number_vessels:            0
max_hr_x_thallium:                  0
exercise_angina_x_st_depression:    0
exercise_angina_x_slope_st:         1
exercise_angina_x_number_vessels:   0
exercise_angina_x_thallium:         0
st_depression_x_slope_st:           1
st_depression_x_number_vessels:     0
st_depression_x_thallium:           0
slope_st_x_number_vessels:          0
slope_st_x_thallium:                0
number_vessels_x_thallium:          0
st_per_hr_x_exercise_angina:        0
hr_deficit_x_exercise_angina:       0

## Define polynomials (0 = exclude / 1 = include)
poly_features:
  age:                0
  blood_pressure:     0
  cholesterol:        0
  max_hr:             0
  st_depression:      0
  slope_st:           1

## Define splines (0 = exclude / 1 = include)
spline_features:
  age:                0
  blood_pressure:     0
  cholesterol:        0
  max_hr:             0
  st_depression:      0
  slope_st:           0