 # Configuration for the ML project run

## Define model: neural_net or logistic_regression
model: logistic_regression

## Define number of CV splits (2 for neural net / 5 for logistic regression)
cv_splits: 2

## Define model storage
store_model: false
storage_name: null

## Define features
features:
  id: exclude
  age: include
  age_squared: exclude
  sex: include
  chest_pain: include
  blood_pressure: include
  cholesterol: include
  rest_blood_sugar: include
  ekg: include
  max_hr: include
  exercise_angina: include
  st_depression: include
  slope_st: include
  number_vessels: include
  thallium: include

# Define interactions
interactions:
  - vars: [age, sex]
    name: age_x_sex
    status: include
  - vars: [age, chest_pain]
    name: age_x_chest_pain
    status: include

## Define feature engineering
standardize: true