# Configuration for the ML project run

## Define model: neural_net or logistic_regression
model: logistic_regression

## Define number of CV splits (2 for neural net / 5 for logistic regression)
cv_splits: 2

## Define model storage
store_model: false
storage_name: 

## Define features
features:
  age: include
  sex: include
  chest_pain_type: include
  blood_pressure: exclude
  cholesterol: exclude
  fbs_over_120: exclude
  ekg_results: exclude
  max_hr: exclude
  exercise_angina: exclude
  st_depression: exclude
  slope_st: exclude
  number_vessels_fluro: exclude
  thallium: exclude

## Define feature engineering
standardize: true